.full-container {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.container {
    height: 100%;
    width: 70%;
    display: flex;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.container .shoes-container {
    width: 50%;
    height: 100%;
}

.container .info-container {
    width: 50%;
    height: 100%;
    font-family: "Bree Serif", serif;
}

.shoes-container #img1 {
    position: absolute;
    width: 510px;
    top: 98px;
    left: 128px;
    transform: rotate(20deg);
    transition: all 1s ease;
}

.shoes-container #img2 {
    position: absolute;
    width: 175px;
    top: 59px;
    left: 170px;
    transform: rotate(20deg);
    transition: all 1s ease;
}

.shoes-container #img3 {
    position: absolute;
    width: 175px;
    top: 470px;
    left: 170px;
    transform: rotate(20deg);
    transition: all 1s ease;
}

.shoes-container #img1.ani-1 {
    width: 175px;
    top: 470px;
    left: 170px;
}

.shoes-container #img2.ani-2 {
    width: 510px;
    top: 98px;
    left: 128px;
}

.shoes-container #img3.ani-3 {
    width: 175px;
    top: 59px;
    left: 170px;
}

.shoes-container #img3.ani-3.ani-33 {
    width: 510px;
    top: 98px;
    left: 128px;
}

.shoes-container #img2.ani-2.ani-22 {
    width: 175px;
    top: 470px;
    left: 170px;
}

.shoes-container #img1.ani-1.ani-11 {
    width: 175px;
    top: 59px;
    left: 170px;
}

.info-container {
    padding: 0px 5px;
}

.info-container h2 {
    font-family: "Jost", sans-serif;
    font-size: 2rem;
    padding-top: 12px;
    font-weight: 400;
    color: #531313d1;
}

.info-container h1 {
    font-family: "Jost", sans-serif;
    color: #701c1cde;
    font-weight: 500;
    font-size: 3.7rem;
    letter-spacing: 1px;
    margin: 4px 0px;
}

.info-container p {
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    padding-top: 5px;
    padding-right: 40px;
    color: rgb(85, 85, 85);
}

.info-container .info-img img {
    width: 130px;
    margin: 0px 5px;
    cursor: pointer;
    transform: translateY(-18px);
    transition: all 1s;
}

.info-container .img-bottom-line {
    width: 67px;
    height: 5px;
    border-bottom: 2px solid grey;
    border-radius: 2px;
    transform: translate(32px, -55px);
    transition: all 1s ease;
}

.info-container .size {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    color: #787a7c;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.info-container #shoes-size {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #2c2c2c;
    width: 120px;
    border: none;
    box-shadow: 2px 3px 5px -3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    outline: none;
    text-align: center;
    padding: 7px 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.info-container #shoes-size:hover {
    box-shadow: 4px 5px 12px -5px rgba(0, 0, 0, 0.4);
}

.shoelistingbtn {
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: black;
    color: white;
    width: 150px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 5px;
    margin-left: 40px;
    transition: all 0.2s ease;
}

.shoelistingbtn:hover {
    background-color: tomato;
}
.shoelistingbtn:active {
    background-color: rgb(151,38,38);
}

.info-container button img {
    width: 17px;
    filter: invert(100%);
    margin-right: 8px;
}

.info-container .bottom {
    position: relative;
    top: -60px;
}